body{
    padding:0;
    margin:0;
}

input{
    font-size:20px;
}

a.nav{
    padding-right:15px;
}

a.nav:link{
    color:#000000;
    text-decoration:none;
}

a.nav:hover{
    color:#000000;
    text-decoration:underline;
}

a.nav:visited{
    color:#000000;
    text-decoration:none;
}

.navbar{
    height:50px;
    margin:0px 0px 10px 0px;
    background: #afafaf; /* Old browsers */
    background: -moz-linear-gradient(top,  #afafaf 0%, #686868 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#afafaf), color-stop(100%,#686868)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #afafaf 0%,#686868 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #afafaf 0%,#686868 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #afafaf 0%,#686868 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #afafaf 0%,#686868 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afafaf', endColorstr='#686868',GradientType=0 ); /* IE6-9 */
}

.query{
    margin-top:15px;
    text-align:center;    
}

.main{
    margin-top:50px;
    text-align:center;
}

ul.faq{
    font-family:Arial;
    font-size:25px;
}

.lang{
    font-size:18px;
}

ol.stat{
    text-align:left;
}
